snippet today "data today" i
`date +%F`
endsnippet

snippet "\'\'" "auto pair" iAr
'${1:${VISUAL}}'$0
endsnippet

snippet "\"\"" "auto pair" iAr
"${1:${VISUAL}}"$0
endsnippet

snippet "\<\>" "auto pair" iAr
<${1:${VISUAL}}>$0
endsnippet

snippet "\(\)" "auto pair" iAr
(${1:${VISUAL}})$0
endsnippet

snippet "\[\]" "auto pair" iAr
[${1:${VISUAL}}]$0
endsnippet

snippet "\{\}" "auto pair" iAr
{${1:${VISUAL}}}$0
endsnippet
