# Make it easier to create new snippets
snippet snip "A snippet for writing Ultisnips snippets" bA
`!p snip.rv = "snippet"` ${1:trigger} "${2:Description}" ${3:options}
$0
`!p snip.rv = "endsnippet"`
endsnippet
